html,body {
	height: 100%;
}

bodybody {
	background-color: #f7f9fb;
	font-size: 14px;
}

body .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	margin: 40px auto;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

body div img {
	width: 100%;
}

.card-wrapper {
	max-width:400px;
	max-height:200px;
	margin: 0 auto;
	position: relative;
	margin-top: 5%;
}

.card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

body .card.fat {
	padding: 10px;
}

body .card .card-title {
	margin-bottom: 30px;
}

body .form-control {
	border-width: 2.3px;
}

body .form-group label {
	width: 100%;
}

body .btn.btn-block {
	padding: 12px 10px;
}

body .margin-top20 {
	margin-top: 20px;
}

body .no-margin {
	margin: 0;
}

body .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

.welcome-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	body .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	body .card.fat {
		padding: 0;
	}

	body .card.fat .card-body {
		padding: 15px;
	}
}